body {
  margin: 0;
  font-family: 'Open-Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F3F7FA;
}

.app {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.payload {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
